.field--name-field-paragraph-elements .field--item .paragraph--type--text {
  p{
    margin: 1em 0;
  }
  .field--name-field-text{
    width: 100%;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
  }
}
